<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Daniel Esparza | Aspiring Software Developer | Security Professional</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    
    <div class="container-sm">
        <div class="row align-self-center">
            <div class="column align-self-center">
                <h1>Howdy, I'm Daniel.</h1>
                <p>An aspiring software dev whose been... </p>
                <p>
                    <span>></span>
                </p>
            </div>
        </div>
    </div>


</body>
</html>